<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OpenBox"
            id="org.eclipse.plugin.openbox.apiunit">
      </category>
      <view
            name="API Unit Tool View"
            icon="icons/openbox.png"
            category="org.eclipse.plugin.openbox.apiunit"
            class="org.eclipse.plugin.openbox.apiunit.views.ApiUnitToolView"
            id="org.eclipse.plugin.openbox.apiunit.views.ApiUnitToolView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
